/* src/components/Dropdown.css */
.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: #f8f9fa;
  border: none;
  color: #212529;
  padding: 10px 15px;
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  background-color: #f8f9fa;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  color: #212529;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content button {
  color: #212529;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #e9ecef;
}

/* .dropdown-content button:hover {
  background-color: #e9ecef;
} */